


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="public/css/style.css">
    <link rel='icon' href='favicon.ico' type='image/x-icon'
    / >
    <link rel="manifest" href="manifest.json" />

    <title>Hidde Hulshof</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-scrollto"></script>


    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <!--    <link href="album.css" rel="stylesheet">-->
    <script>
    window.onload = function(){
			
				if ('serviceWorker' in navigator) {
					navigator.serviceWorker.register('sw.js').then(
						registratie=> {
							console.log(`Registratie gelukt: ${registratie.scope}`);
	
							if ('PushManager' in window){
								console.log("Push berichten worden ondersteund!");						
								
								Notification.requestPermission().then(
									antwoord => {
										if (antwoord === 'default'){
											console.log('Helaas; notificatie verzoek weggeklikt');
											return;
										}
										
										if (antwoord === 'denied'){
											console.log('Helaas; notificaties geweigerd');
											return;
										}
									
										if (antwoord==='granted'){
											console.log('Hoera! We hebben toestemming voor notificaties');
											
											// Check bestaande registratie en maak gebruiker:
											registratie.pushManager.getSubscription().then(
													sub =>{
														if (sub === null) {
															console.log("Er is nog geen geregistreerde Push-gebruiker");
															maakPushUser(registratie);
														}
													}
											);
										}
									}
								);
							}
						}
					).catch(
						fout=> {
							console.log(`Er is iets foutgegaan: ${fout}`);
						}
					);

					function maakPushUser(registratie){				   
						const publicKey = urlBase64ToUint8Array('BO_jVugPTE8AMOQqIGWEPcbJWRKI6nI6IdnH7vLN4_KoPMn9hySs9-w-b4cMytP3Z_YnZeFh2lWqJD2xepMitTY');
						
						registratie.pushManager.subscribe(
							{
								userVisibleOnly: true,
								applicationServerKey: publicKey
							}
						).then(
							sub => {
								updateSubscriptionAtServer(sub);
								console.log("User geabonneerd op meldingen");
							}
						).catch(
							fout => {
								console.log(`Abonneren op notificaties niet gelukt: ${fout}`);
							}
						);
					}
					
					function updateSubscriptionAtServer(subscriptie){
						/* Hier schrijven we normaal info naar de server */
						console.dir(subscriptie);
					}
					
					
					/**
					 * urlBase64ToUint8Array -- GOOGLE Functie
					 * 
					 * @param {string} base64String a public vavid key
					 */
					function urlBase64ToUint8Array(base64String) {
						var padding = '='.repeat((4 - base64String.length % 4) % 4);
						var base64 = (base64String + padding)
							.replace(/\-/g, '+')
							.replace(/_/g, '/');

						var rawData = window.atob(base64);
						var outputArray = new Uint8Array(rawData.length);

						for (var i = 0; i < rawData.length; ++i) {
							outputArray[i] = rawData.charCodeAt(i);
						}
						return outputArray;
					}
				}
			}
    </script>
</head>

<body>

<header>

</header>

<main id="app" role="main">
    <transition name="slide-fade-right">
        <div v-if="downvisable" class="scrolltotop">
            <button v-scroll-to="'#top'" class=" up-button">

                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-up"
                     class="svg-inline--fa fa-chevron-up fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 448 512">
                    <path fill="currentColor"
                          d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"></path>
                </svg>

            </button>
        </div>
    </transition>
    <div id="top" class="container-fluid">


        <section class="row text-center screen-heigth">
            <div v-if="overlay" class="overlay-background"></div>


            <div class="container row  d-flex justify-content-center  mx-auto ">

                <div class="col-md-6 ">
                    <div class="social-container">

                        <h1 class="pb-4">Hidde Hulshof</h1>
                        <b class="mb-2">Fullstack developer </b>
                        <ul class="social-icons mt-2">
                            <li><a href="https://www.linkedin.com/in/hidde-hulshof-936773193/"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                            <li><a href="#"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
<!--<div class="position-absolute w-100 row d-flex justify-content-center">-->
<!--            <div class="container col-6  positionname p-3   backgroundprimary ">-->
<!--                <div class="col-md-2 d-flex py-2 justify-content-center ">-->
<!--                    <img class="logo" src="public/resources/logo.svg">-->
<!--                </div>-->
<!--                <div class="col-md-10 ">-->
<!--                    <h1 class="text-left d-none d-sm-block">Hidde Hulshof</h1>-->
<!--                    <h2 class="d-sm-none pt-4">Hidde Hulshof</h2>-->
<!--                    <p class="text-left d-none  d-sm-block"><b>Junior Applicatieontwikkelaar </b></p>-->
<!--                </div>-->
<!--            </div>-->
<!--</div>-->

            <div class="col-md-12 text-center pb-5">
                <button v-scroll-to="'#ik'" class=" down-button">

                    <svg style="width: 30px; height: 30px;" aria-hidden="true" focusable="false" data-prefix="fas"
                         data-icon="chevron-down"
                         class="svg-inline--fa fa-chevron-down fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 448 512">
                        <path fill="currentColor"
                              d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path>
                    </svg>

                </button>
            </div>
        </section>
    </div>



    <transition name="slide-fade">

        <div v-if="sidenav && checkWindowWidth(window.width) "
             class="w-100 sidebar flex flex-column justify-content-center">
            <div @click="toggleSide()" class="close hamburger"><i class="fa fa-times"></i></div>
            <div class="wrapper">

                <a href="#" v-scroll-to="'#ik'" @click="toggleSideSlow()"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Wie ben ik?</strong>
                </a>
                <a href="#" v-scroll-to="'#wat'" @click="toggleSideSlow()"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Mijn skills</strong>
                </a>
                <a href="#" v-scroll-to="'#proj'" @click="toggleSideSlow()"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Mijn projecten</strong>
                </a>
                <a href="#" v-scroll-to="'#werk'" @click="toggleSideSlow()"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Werkervaring</strong>
                </a>
                <a href="#" v-scroll-to="'#edu'" @click="toggleSideSlow()"
                   class="navbar-brand d-flex align-items-center">
                    <strong>Opleidingen</strong>
                </a>
                <a href="#" @click="toggleSideSlow()" class="navbar-brand d-flex align-items-center">
                    <strong>Contact</strong>
                </a>
            </div>
        </div>
    </transition>

    <div v-if="scrollPosition > window.height-10 && sidenav == false ">
        <div class="navbar navbar-dark navbar-main box-shadow screen-bar-heigth fixed-top">

            <div v-if="window.width > 1080 " class="container d-flex justify-content-between wrapper">
                <a href="#" v-scroll-to="'#ik'" class="navbar-brand d-flex align-items-center">
                    <strong>Wie ben ik?</strong>
                </a>
                <a href="#" v-scroll-to="'#wat'" class="navbar-brand d-flex align-items-center">
                    <strong>Mijn skills</strong>
                </a>
                <a href="#" v-scroll-to="'#proj'" class="navbar-brand d-flex align-items-center">
                    <strong>Mijn projecten</strong>
                </a>
                <a href="#" v-scroll-to="'#werk'" class="navbar-brand d-flex align-items-center">
                    <strong>Werkervaring</strong>
                </a>
                <a href="#" v-scroll-to="'#edu'" class="navbar-brand d-flex align-items-center">
                    <strong>Opleidingen</strong>
                </a>
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <strong>Contact</strong>
                </a>

            </div>
            <div v-if="window.width < 1080 " class="container d-flex justify-content-between">
                <a @click="toggleSide()">
                    <i class="fa fa-bars hamburger"></i>
                </a>


            </div>
        </div>
    </div>

    <div v-if="sidenav == false" class="navbar navbar-dark navbar-main box-shadow screen-bar-heigth">

        <div v-if="window.width > 1080  " class="container d-flex justify-content-between wrapper">
            <a href="#" v-scroll-to="'#ik'" class="navbar-brand d-flex align-items-center">
                <strong>Wie ben ik?</strong>
            </a>
            <a href="#" v-scroll-to="'#wat'" class="navbar-brand d-flex align-items-center">
                <strong>Mijn skills</strong>
            </a>
            <a href="#" v-scroll-to="'#proj'" class="navbar-brand d-flex align-items-center">
                <strong>Mijn projecten</strong>
            </a>
            <a href="#" v-scroll-to="'#werk'" class="navbar-brand d-flex align-items-center">
                <strong>Werkervaring</strong>
            </a>
            <a href="#" v-scroll-to="'#edu'" class="navbar-brand d-flex align-items-center">
                <strong>Opleidingen</strong>
            </a>
            <a href="#" class="navbar-brand d-flex align-items-center">
                <strong>Contact</strong>
            </a>

        </div>
        <div v-if="window.width < 1080 " class="container d-flex justify-content-between">
            <a @click="toggleSide()" class=" ">

                <i class=" hamburger fa fa-bars"></i>
            </a>


        </div>
    </div>
    </div>


    <div id="ik" class="pt-5 bg-light">
        <div class="container ">
            <div class="row pb-5 content-block">

                <div class="col-md-6">
                    <h1 class="w-100 text-center pb-4">Wie ben ik?</h1>
                    <p class="p-2">
                        Welkom op mijn portefolio website, ik ben Hidde Hulshof en ik ben Junior PHP developer.
                        Het leukste aan mijn werk vind ik het bedenken en uitwerken van oplossingen die bedrijfsprocessen vereenvoudigen.
                    </p>
                </div>
                <div class="col-md-6  p-5  border-0">
                    <div class="d-flex justify-content-center">
                        <div class="image-heigth">

                        </div>
                    </div>
                    <div class="d-flex justify-content-center social-card">

                        <div class="social-container">
                            <h1 class="pb-4">Hidde Hulshof</h1>
                            <p>Je kunt mij vinden op...</p>
                            <ul class="social-icons">
                                <li><a href="https://www.linkedin.com/in/hidde-hulshof-936773193/"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-codepen"></i></a></li>
                                <li><a href="#"><i class="fa fa-github"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


    <div id="wat" class="divider py-5 ">
        <div class="container">
            <h1 class="w-100 text-center pb-4">Mijn skills</h1>


            <div class="row pb-4 col-md-8 mx-auto">
                <div @click="show(1)"
                     class="col-lg-4 col-4 pb-4  d-none d-lg-flex  align-items-center skill-logo ">
                    <div class="h-100 p-3 draw-logo-border d-flex align-items-center ">
                        <div class="image-skills" :class="{greyscale: next!=1}"><img
                                src="public/resources/laravel.png"></div>
                    </div>
                </div>

                <div @click="show(4)"
                     class="col-lg-4 col-4 pb-4  d-none d-lg-flex  align-items-center skill-logo ">
                    <div class="h-100 p-3 draw-logo-border d-flex align-items-center ">
                        <div class="image-skills" :class="{greyscale: next!=4}"><img src="public/resources/vue.png">
                        </div>
                    </div>
                </div>

                <div @click="show(5)"
                     class="col-lg-4 col-4 pb-4  d-none d-lg-flex  align-items-center skill-logo ">
                    <div class="h-100 p-3 draw-logo-border d-flex align-items-center ">
                        <div class="image-skills" :class="{greyscale: next!=5}"><img
                                src="public/resources/html.png"></div>
                    </div>
                </div>


<!--                <div @click="show(6)"-->
<!--                     class="col-lg-2 pb-4 col-4 d-none d-lg-flex  align-items-center skill-logo ">-->
<!--                    <div class="h-100 p-3 draw-logo-border d-flex align-items-center ">-->
<!--                        <div class="image-skills" :class="{greyscale: next!=6}"><img-->
<!--                                src="public/resources/java.png"></div>-->
<!--                    </div>-->
<!--                </div>-->




                <transition name="slide-fade-bottom">
                    <div v-if="next == 1 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                Laravel
                            </strong>
                            <p class="col-md-6 mx-auto">Tijdens mijn opleiding heb ik kennis gemaakt met Laravel, al
                                gauw merkte ik dat applicatie's ontwikkelen met behulp van Laravel erg veel tijd
                                scheelde. Hierdoor besloot ik om me ook in mijn vrijetijd in Laravel te verdiepen en bedenk ik momenteel op mijn werk verschillende oplossingen in Laravel</p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom" v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="slide-fade-bottom">
                    <div v-if="next == 2 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2asp"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                ASP.NET
                            </strong>
                            <p class="col-md-6 mx-auto">Met behulp van ASP.NET MVC en Entity Framework, heb ik voor een
                                opdrachtgever een api ontwikkelt voor een planner van bedrijsuitjes. Deze RESTFULL API
                                bevatte alle data die nodig was voor de front-end Angular applicatie. </p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom float-left " v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="slide-fade-bottom">

                    <div v-if="next == 3 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2angular"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                Angular
                            </strong>
                            <p class="col-md-6 mx-auto">Tijdens een project voor een opdrachtgever moest ik een planner
                                voor bedrijfsuitjes maken, was een single page applicatie waarbij een beheerder
                                evenementen moest kunnen toevoegen en een gebruiker zich moest kunnen inschrijven. Voor
                                de front-end heb ik gewerkt met Angular, deze angular applicatie moest communicieren met
                                een API. </p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom float-left" v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>


                <transition name="slide-fade-bottom">

                    <div v-if="next == 4 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2vue"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                Vue
                            </strong>
                            <p class="col-md-6 mx-auto">Op school hebben we Javascript geleerd en hebben we tijdens een
                                project kennis gemaakt met Angular en Ionic. In mijn vrije tijd heb ik ook VueJS
                                geleerd, ook heb ik tijdens mijn examen de keuze gemaakt om het project met behulp van
                                Vue en Laravel te ontwikkelen. </p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom float-left" v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>

                <transition name="slide-fade-bottom">

                    <div v-if="next == 5 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2html"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                HTML 5
                            </strong>
                            <p class="col-md-6 mx-auto">Op school hebben we Javascript geleerd en hebben we tijdens een
                                project kennis gemaakt met Angular en Ionic. In mijn vrije tijd heb ik ook VueJS
                                geleerd, ook heb ik tijdens mijn examen de keuze gemaakt om het project met behulp van
                                Vue en Laravel te ontwikkelen. </p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom float-left" v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>
                <transition name="slide-fade-bottom">

                    <div v-if="next == 6 && showitem != 0" class="col-md-12 text-center">
                        <div class="hexagon hexagon1">
                            <div class="hexagon-in1">
                                <div class="hexagon-in2java"></div>
                            </div>
                        </div>
                        <div class="textbox">
                            <strong>
                                Java
                            </strong>
                            <p class="col-md-6 mx-auto">Op school hebben we Javascript geleerd en hebben we tijdens een
                                project kennis gemaakt met Angular en Ionic. In mijn vrije tijd heb ik ook VueJS
                                geleerd, ook heb ik tijdens mijn examen de keuze gemaakt om het project met behulp van
                                Vue en Laravel te ontwikkelen. </p>
                            <div class="pb-4 col-12 d-flex d-lg-none  justify-content-center skill-logo ">
                                <div class="col-md-6 text-white">
                                    <button class="pagcustom float-left" v-if="next>1" @click="showprev()"><i class="fa fa-arrow-left"></i>
                                    </button>
                                    <button class="pagcustom float-right" v-if="next<6" @click="shownext()"><i
                                            class="fa fa-arrow-right"></i></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </transition>
                <!--                    <div class="col-md-12 text-center">-->
                <!--                        <button @click="next++" class="draw-border">Toon meer</button>-->
                <!--                    </div>-->


            </div>

        </div>
    </div>


        <div id="proj" class="projects py-5 bg-light">

        </div>
    </div>
    </div>
    <div id="werk" class="py-5  divider ">
        <div class="container">
            <section class="timeline">
                <h1 class="text-center">Mijn werkervaring</h1>
                <ul id="time1">
    
                    <li>
                        <div>
                            <time> Februari 2017 - Juli 2017</time>
                            <b>Skantrea Zevenaar</b><br>
                            Hier leerde ik nauwkeurig werken en om te gaan met verschillende collega’s. De werkzaamheden
                            bestonden uit orders picken en schoonmaken van het magazijn.
                        </div>
                    </li>
                    <li>
                        <div>
                            <time>Juli 2018 - Augustus 2019</time>
                            <b>Reinigingspartner Doetinchem</b><br>
                            Doordat ze hier wisten dat ik de opleiding Applicatieontwikkelaar volgde, mocht ik naast
                            magazijn werkzaamheden helpen met het testen van de nieuwe webshop. Hierbij moest ik soms
                            contact opnemen met de ontwikkelaar
                        </div>
                    </li>
                    <li>
                        <div>
                            <time>September 2018 - Februari 2019</time>
                            <b>Niice digital marketing Groenlo</b><br>

                            Bij Niice leerde ik werken aan projecten voor klanten, hierbij moest ik een ontwerp compleet
                            ombouwen naar HMTL, CSS en JAVASCRIPT. Ook leerde ik hier werken met Craft. Ook leerde ik hier kennismaken met de Git Flow
                        </div>
                    </li>
                    
                    <li>
                        <div>
                            <time> September 2020 - November 2021</time>
                            <b>Mull2media</b><br>
                            <p>Bij Mull2media heb ik mijn eindstage gelopen, Mull2media heb ik bewust uitgekozen omdat ze veel het Laravel. Bij Mull2media heb ik geleerd om grote projecten (WMS, POS, Voorraadbeheer) en koppelingen (Trunkrs, MyParcel) zelfstandig te ontwikkelen/doorontwikkelen, ook heb ik hier geleerd om veel te communiceren met klanten.</p>
                            <p>Mijn stage heb ik hier succesvol afgerond en kon hier blijven werken. Mijn voornaamste werkzamheden bij Mull2media waren HTML, CSS, (scss), JQuery, VueJS en Laravel. Ook heb ik hier mijn kennis vergroot over de Git Flow.</p>
                        </div>
                    </li>
                    
                    <li>
                        <div>
                            <time> November 2020 - Heden</time>
                            <b>VoorMeerWaarde</b><br>
                            <p>Bij VoorMeerWaarde heb ik geleerd om te werken met Design Systems en heb ik actief gewerkt voor WCAG.nl, hierdoor heb ik kennis van webtoegankelijkheid. Bij VoorMeerWaarde zijn mijn voornaamste werkzaamheden HTML, CSS (scss), Javascript, Vuejs en Laravel. </p>
                            <p>Bij VoorMeerWaarde heb ik voor het eerst kennis gemaakt met Confluence en Jira in combinatie met Git Flow.</p>
                        </div>
                    </li>

                </ul>
            </section>

        </div>
    </div>


    <div id="edu" class="divider-inverse py-5 ">
        <div class="container">
            <h1 class="text-center">Opleiding</h1>

            <div class="row py-5">

                <div class="col-md-12"><h3 class="text-center">Graafschap college Doetinchem</h3>

                    <h4 class="font-italic text-center"> Applicatie ontwikkelaar niveau 4 </h4>
                    <hr>
                    <p class="p-4 ">
                        Tijdens mijn opleiding Applicatie ontwikkelaar heb ik kennis gemaakt met verschillende
                        onderwerpen die van belang zijn als programmeur. Zo heb ik kennis gemaakt de volgende
                        technieken:
                        C#,
                        Java,
                        PHP,
                        Mysql,
                        Javascript,
                        HTML 5, CSS 3 en
                        Agile scrum
                        <br>


                    </p>
                    <div class="w-100 text-center"><b>Afgerond - 2020</b></div>


                </div>

                <div class="col-md-12 pt-5"><h3 class="text-center">Rietveld Lyceum Doetinchem</h3>

                    <h4 class="font-italic text-center"> HAVO profiel Economie en Maatschappij </h4>
                    <hr>
                    <p class="p-4 ">
                        De HAVO heb ik in 5 jaar afgerond, de vakken die ik gevolgd heb zijn: Engels, Nederlands,
                        Economie, Geschiedenis, Management en organisatie, Wiskunde A en Biologie.
                        <br>


                    </p>
                    <div class="w-100 text-center"><b>Afgerond - 2013</b></div>


                </div>


            </div>


        </div>

    </div>

    <!-- <div id="con" class="dividerhalf container-fluid  d-flex justify-content-center align-items-center ">
        <div class="container mx-auto row text-center">
            <div class="col-12 mx-auto"><h1 class="py-4">Wil je meer van mij weten?</h1></div>
            <div class="max-heigth col-12 d-flex align-items-center justify-content-center"><a
                    href="mailto:hiddehu@gmail.com">
                <button class="button underline"><i class="fa fa-envelope" aria-hidden="true"></i></i> Mail</button>
            </a></div>
        </div>

    </div> -->
</main>

<footer class="footer ">
    <div class="container row mx-auto p-5 d-flex  justify-content-center ">
        <div class="col-md-4 d-flex justify-content-center pb-4">
            <img class="logofooter w-25" src="public/resources/logo.svg">
        </div>
        <!--        <div class="col-md-12">-->
        <!--            <h5 class="text-white text-center">Hidde Hulshof &copy; 2020</h5>-->
        <!--        </div>-->
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script>


    const app = new Vue({

        el: '#app',


        data: {
            scrollPosition: null,
            sidenav: false,
            downvisable: false,
            next: 1,
            items: [],
            project: 1,
            timeshow1: 0,
            done: 0,
            overlay: false,
            showitem: 1,
            more: 0,
            showproject: 1,
            window: {
                width: 0,
                height: 0
            },


        },

        methods: {
            updateScroll() {
                this.scrollPosition = window.scrollY
                if (window.scrollY > window.innerHeight) {
                    this.downvisable = true;
                }
                if (window.scrollY < window.innerHeight) {
                    this.downvisable = false;
                }
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            toggleSideSlow() {
                setTimeout(() => this.sidenav = false

                    , 500);
            },
            toggleSide() {
                if (!this.sidenav) {
                    this.sidenav = true;
                } else {
                    this.sidenav = false;
                }
            },
            checkWindowWidth(width) {
                if (width > 1080) {
                    this.sidenav = false;
                    return true
                }
                return true;
            },


            isElementInViewport(el) {
                var rect = el.getBoundingClientRect();
                return (
                    rect.top >= 0 &&
                    rect.left >= 0 &&
                    rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                    rect.right <= (window.innerWidth || document.documentElement.clientWidth)
                );
            },
            setItems() {
                this.items = document.querySelectorAll(".timeline li");

            },
            callbackFunc() {

                for (var i = 0; i < this.items.length; i++) {
                    if (this.isElementInViewport(this.items[i])) {
                        this.items[i].classList.add("inview");
                    }
                }
            },
            show(id) {
                this.showitem = id;
                this.showitem = 0;
                setTimeout(() => this.next = id
                    , 500);

                setTimeout(() => this.showitem = id
                    , 500);

                console.log(this.next);

            },
            shownext() {
                this.showitem = 0;
                setTimeout(() => this.next++
                    , 500);

                setTimeout(() => this.showitem++
                    , 500);


            },
            showprev() {
                this.showitem = 0;
                setTimeout(() => this.next--
                    , 500);

                setTimeout(() => this.showitem--
                    , 500);


            },

            showproj(id) {
                this.showproject = id;
                this.showproject = 0;
                this.more = 0;

                setTimeout(() => this.project = id
                    , 500);

                setTimeout(() => this.showproject = id
                    , 500);

            },


        },

        mounted() {
            window.addEventListener('scroll', this.updateScroll);
            window.addEventListener("load", this.setItems);

            window.addEventListener("load", this.callbackFunc);
            window.addEventListener("resize", this.callbackFunc);
            window.addEventListener("scroll", this.callbackFunc);


        },
        created() {
            window.addEventListener("load", this.setItems);

            window.addEventListener('resize', this.handleResize);
            this.handleResize();

        },

    })
</script>
</body>
</html>
