.grid{
    width: 200px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    box-sizing: content-box!important;

}

.grid div{
    width: 20px;
    height: 20px;
}

.snake {
    background-color: blue;
    
}

.apple {
    background-color: purple;
}


.snake-container{
    background-color:#79B4A9;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    
  }}
